

<f:comment>Template for the infoWindow in AjaxSearch</f:comment>


info = '<div class="infoWindow">';
	info += '<div>AjaxLocationListInfoWindow</div>';

	<f:for each="{location.images}" as="image">
		info += '<f:image src="fileadmin/{image.originalResource.originalFile.identifier}"  width="50" alt=""/>';
	</f:for>

	info += '<f:link.action action="show" extensionName="myleaflet" pluginName="SingleView" controller="Address" pageUid="{settings.detailsPageId}" arguments="{locationUid : location.uid}">' + "<strong><f:format.htmlentities>{location.name}</f:format.htmlentities></strong></f:link.action>";
	
	info += "<div>{location.name}</div>";


	info += "<div class='categories'>{location.categories}</div>";

	info += "<div>{location.www}</div>";
	
	info += "<div><f:format.raw>{location.infoWindowAddress}</f:format.raw></div>";

	info += "<div>{location.zip} {location.city}</div>";
	info += "<div>{location.phone}</div>";



<f:comment>
info += "<div><f:debug>{location}</f:debug>kkkkk</div>"
	info += '<div><f:format.raw>{location.infoWindowDescription}</f:format.raw></div>';
</f:comment>	
info += '</div>';

marker[{i}].bindPopup(info).openPopup();


