

<f:comment>Template for the infoWindow in AjaxSearch</f:comment>


info = '<div class="infoWindow">';
	info += '<div>AjaxLocationListInfoWindow</div>';

	<f:for each="{location.images}" as="image">
		info += '<img src="/fileadmin/{image.originalResource.originalFile.identifier}"  width="50" alt=""/>';
	</f:for>

    info += '<f:link.page pageUid="{settings.detailsPageId}" additionalParams="{tx_myleaflet_singleview: {action: 'show', locationUid: '{location.uid}'}}" >{location.first_name} {location.name}</f:link.page>';
<f:comment>
    info += '<form  action="/?id={settings.detailsPageId}" method="POST">';
    info += '<input class="hidden" name="tx_myleaflet_singleview[locationUid]" value="{location.uid}">';
    info += '<button class="submitButton" type="submit">{location.first_name} {location.name}</button>';
    info += '<form>';
</f:comment>



	info += "<div class='categories'>{location.categories}</div>";

	info += '<div><f:link.typolink parameter="{location.www}"></f:link.typolink></div>';

	info += "<div><f:format.raw>{location.infoWindowAddress}</f:format.raw></div>";

	info += "<div>{location.zip} {location.city}</div>";
	info += "<div>{location.phone}</div>";


<f:comment>

info += '<div><f:format.stripTags><f:format.htmlentitiesDecode keepQuotes="1">{location.infoWindowDescription}</f:format.htmlentitiesDecode></f:format.stripTags></div>';

info += "<div><f:debug>{location}</f:debug>kkkkk</div>"
	info += '<div><f:format.raw>{location.infoWindowDescription}</f:format.raw></div>';
</f:comment>	
info += '</div>';

marker[{i}].bindPopup(info).openPopup();


