/*
 *
 * css for myleaflet extension
 *
 */


.tx-myleaflet .ajaxMessage {
	background-color: #0000f0;
	color: white;
	padding: 10px;
}

.tx-myleaflet .hidden {
	display: none;
}

.tx-myleaflet .submitButton {
    font-weight: bold;
    color:#000;border:0px #000 solid;
    background-color:#fff;
}
